body {
    background-image: url("../img/wood_background.png");
}

hr {
    width: 95%;
    height: 1px;
    background-color: #000000;
}

h3 {
    text-align: center;
}

#page {
    position: relative;
    width: 925px;
    font-family: 'Bookman Old Style';
    margin-left: auto;
    margin-right: auto;
    text-align: center
    
}

#header {
    background-image: url("../img/chop_header.png");
    width: 100%;
    height: 115px;
}

#chart {
    width: 100%;
    display: block;
}

#patient_chart {
    position: relative;
    width: 100%;
    height: 700px;
}

#patient_name {
    position: absolute;
    top: 1px;
    left: 30px;
    width: 275px;
}

#patient_info {
    background-color: #f9f9f9;
    position: absolute;
    top: 165px;
    left: 50px;
    width: 90%;
    height: 80%;
}

#patient_report {
    position: inherit;
    color: #000000;
    top: 120px;
    left: 30px;
    width: 45%;
    height: 65%;
    text-align: left;
}

#xray_image {
    position: inherit;
    right: 50px;
    top: 125px;
    width: 40%;
    height: 65%
}
